<div class="container" *ngIf="contactData">
  <h1>Viewing Contact Details of John</h1>
  <div class="card col-md-12">
    <div class="card-body">
      <h5 class="card-title">{{contactData.username}} </h5>
      <p>{{contactData.phoneno}}</p>
      <p>{{contactData.email}}</p>
      <button type="button" class="btn btn-primary" (click)="lanchEditModal()">Edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteContacts()">Delete</button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="col-md-12" #f="ngForm" *ngIf="editableContactData">
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Full Name" [(ngModel)]="editableContactData.username" name="username"
                      required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticPhone" class="col-sm-2 col-form-label">Phone</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter Phone" [(ngModel)]="editableContactData.phoneno" name="phoneno"
                      required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="editableContactData.email" name="email" required>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="updateContact()">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>