<ul class="navbar-nav mr-auto">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
      <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/contacts">Contacts</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <ng-content></ng-content>
  </ul>
