.redtext{
    padding-top:50px;
    color:white;
    background-color: lightblue;
    text-align:center;
}.blacktext{
    //padding-top:50px;
    color:white;
    background-color: lightblue;
    text-align:center;

}
